*{
box-sizing: border-box;
margin: 0;
padding: 0;
border: solid white 1px;
}

body {
    background-color: grey;
    
}

.h1Title {
    margin-left: 50%;
    text-align: center;
}

.selectionPanel {
    display: flex;
    background-color: rgb(32, 43, 98);
    /* background-color: #008dd4; */
    justify-content: space-between;
    height: 300px;
    width: 75%;
    padding: 20px;
    border-radius: 25px;
    align-self: center;
}

.selectionPanelButton {
    object-fit: contain;
    border-radius: 45px;
}