*{
box-sizing: border-box;
margin: 0;
padding: 0;
border: solid white 1px;
}

body {
    background-color: rgb(88, 102, 115);
    
}

.h1Title {
    text-align: center;
}

.selectionPanel {
    display: flex;
    justify-content: space-between;
    height: 15vw;
    margin-right: 25vw;
    margin-left: 25vw;
    padding: 1%;
    border-radius: 25px;
    align-self: center;
}

.selectionPanelButton {
    object-fit: contain;
    border-radius: 25%;
    border: solid 5px black;
    background-color: bisque;
}